/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del banner */
header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Agregamos flex-wrap*/
}

.banner img {
    max-height: 50px;
    margin-bottom: 10px; /* Espacio entre el logo y la barra de búsqueda */
}

input[type="text"] {
    flex: 1;  
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px; /* Espacio entre el logo y la barra de búsqueda */
    min-width: 200px; /* Asegura que la barra de búsqueda no se encoja demasiado */
    margin-bottom: 10px; /* Añade espacio inferior cuando los elementos se envuelven */
}

/* --- Nuevo Estilo de Navegación --- */
.navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Permite que los botones pasen a la siguiente línea si no caben */
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px; /* Añade espacio inferior cuando los elementos se envuelven */
}

.nav-links a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    background: #006fe6; /* Un azul ligeramente más oscuro que el fondo */
    box-shadow: 0 4px #0056b3; /* Sombra inferior que crea el efecto 3D */
    transition: all 0.3s ease;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}

.nav-links a:hover {
    transform: translateY(2px); /* Mueve el botón hacia abajo */
    box-shadow: 0 2px #0056b3; /* Reduce la sombra para el efecto de "presionado" */
}

.nav-links a.nav-link-admin {
    background: #ffc107;
    color: #333;
    box-shadow: 0 4px #e0a800;
}

.nav-links a.nav-link-admin:hover {
    transform: translateY(2px);
    box-shadow: 0 2px #e0a800;
}

/* Estilos de la sección de productos */
.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.producto {
    background-color: white;
    border-radius: 10px; /* Bordes más redondeados */
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
}

.producto:hover {
    transform: translateY(-5px); /* Elevar la tarjeta al pasar el cursor */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

/* Estilos del pie de página (footer) */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}
